<!--
<ol>
    <li *ngFor="let cake of cakes">
        <div class="card" style="width:18rem">
        <img src="{{cake.image}}" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-title">{{cake.name}}</h5>
        <p class="card-text">
            Some quick example
        </p>
        <a href="#" class="btn btn-primary">{{cake.price}}</a>
        </div>
        </div>
        <br>
    </li>
</ol>
-->
<div class="bg-danger">
<div class="container">
    <div class="text-center">
<button (click)="ascSort()" class="btn btn-warning" class="form-group mt-3" style="margin: 0 5px">Low to High
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
        <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
      </svg>
</button>
<button (click)="descSort()" class="btn btn-warning" class="form-group mt-3" style="margin: 0 5px">High to Low
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
      </svg>
</button>
</div>

<div class="row">
    <app-cake *ngFor="let cake of cakes" class="col" [cakedata]="cake"></app-cake>
</div>

</div>
</div>